.input {
    width: 100%;
}

.btn {
    width: 100%;
    margin-right: auto;
}

.heading {
    background: var(--accent-color);
}

.icon {
    fill: var(--inverted-color);
    font-size: 3rem;
    color: var(--inverted-color);
}

.title {
    color: var(--inverted-color) !important;
}